@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

* {
    color: #202238; 
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 95%;
    letter-spacing: -0.035em;

    margin: 0;
    padding: 0;
    border: 0;
    
}

html {
    background-color: #FFFDF5;
}

h1{
    font-weight: 800;
    font-size: 6rem;
}
h2{
    font-weight: 800;
    font-size: 5rem;;
}

h3{
    font-weight: 800;
    font-size: 4rem;
}
h4 {
    font-weight: 800;
    font-size: 3rem;
}
li, a{
    font-weight:600;
    font-size: 1.5rem;
    text-decoration: none;
    list-style: none;
}

p{
    font-family: 'EB Garamond', serif;
}